body{
	font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: rgb(191, 218, 226);
	box-sizing: border-box;
}
a {
color: #E1704B;
transition: color 0.5s ease;
}
a:hover{
    cursor:pointer;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
}


.wrapper .quotebox .author {
font-size: 16px;
}

.quotebox {
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 34px 1px;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 34px 1px;
	
}

/* social media */

.socialmed{overflow: hidden;
height: 20px;
margin-top: 30px;
margin-bottom: 10px;
opacity: 0.8;}


/* center div vertically */

.wrapper {
  position: relative;
  /* background: white; */
  height: 100%;
  width: 60%;
  margin: 0 auto;
  /* padding: 20px; */
  /* resize: both; */
  overflow: auto;
  box-sizing: border-box;
}

.wrapper .quotebox {
  background: white;
  color: rgb(102, 102, 102);
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 20px;
  /* resize: both; */
  overflow: auto;
  border-radius: 5px;
  font-size: 26px;
  font-weight: 300;
  /* box-sizing: border-box; */
}